@model PraktikumUCP.Models.Pelayan

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pelayan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaPelayan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaPelayan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoTelpPelayan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoTelpPelayan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlamatPelayan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlamatPelayan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPelayan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
